

.col-md-8{
    width: 100%;
}

.dp{
    width: 100%;
}

.RELATOS{
    margin-top: 2%;
    margin-bottom: 2%;
}

.relatos{
   margin-left: 10%;
   margin-right:10% ;
   height: 10%;
}

.secrel{
    margin-top: 5%;
}